<!-- Eat-Da-Burger - index.handlebars - UW Coding Bootcamp - Week 14 Homework -->

  <div class="row">
  <center>
    <!-- Burgers Available -->
    <div class="col-md-6">
      <h3>Burgers Available</h3>
      <div id="burgersAvailable">

        <!-- Dynamically Add User Burgers Here -->
        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="input-group">
              <li class="form-control">{{id}}. {{burger_name}}</li>
                <span class="input-group-btn">
                  <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- Burgers Devoured -->
    <div class="col-md-6">
      <h3>Burgers Devoured</h3>
      <div id="alreadyEaten">

        <!-- Dynamically Insert Devoured Burgers Here -->
        {{#each burgers}}
          {{#if this.devoured}}
            <div class="input-group">
              <li class="form-control">{{this.id}}. {{this.burger_name}}</li>
            </div>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>

